body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    padding: 20px;
    text-align: center;
    background: #000;
}

.hero {
    text-align: center;
    padding: 70px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.service {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
}